.button {
  height: 50px;
  width: 50px;
  border-radius: 6px;
  background-color: #ff5555;
  border: none;
  cursor: pointer;
  vertical-align: middle;
}

.button:hover {
  opacity: 0.8;
}

.button:disabled {
  background-color: #d9d9d9;
}
