.no-results {
  background-color: #fff;
  border: 1px solid #ff5555;
  border-radius: 6px;
  font-family: "Roboto", Helvetica, sans-serif;
  height: 100px;
  text-align: center;
  width: 356px;
}

.no-results__smiley {
  font-size: 30px;
  margin: 10px auto;
}

.no-results__text {
  margin: 0px;
}
